body {
  background-color: #222831;
  color: #eeeeee;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #444444;
  padding: 8px;
  text-align: left;
  color: #eeeeee; /* Text color */
  background-color: #31363f; /* Background color for table cells */
}

th {
  background-color: #333333; /* Slightly lighter background for headers */
}
